:host {
    --primary: #D7DB51;
    --danger: #D55454;

    /* Backgrounds */
    --bg-default: #fff;
    --bg-accent: #fff;
    --bg-10: rgba(255, 255, 255, 0.1);
    
    /* Backgrounds */
    --border-color: #E5E5E5;

    /* Text colors */
    --text-color-default: #1E3148;
    --text-color-placeholder: #6B7280;

    --font-size-default: 15px;

    --line-height-default: 20px;

    --input-size: 36px;

    --border-radius-default: 12px;
    --border-radius-sm: 4px;

    --calendar-icon-invert: invert(0.5); /* invert the calendar icon, 0 - 1 */
}